<!--this is use for the user to reset the password by taking the old password then new password and confirm it -->

<!--get the old password,then doing compare to make sure the old -->
<div class="form-group col-md-6">
    <label>Old Password</label>
    <input class="form-control form-control-lg" placeholder="Old password"
     required maxlength="100" minlength="1" >
</div>

<!--then this is using to get the new password -->
<div class="form-group col-md-6">
    <label >New Password</label>
    <input type="password" class="form-control form-control-lg" placeholder="newPassword" name="newPassword" 
    required maxlength="100" minlength="1" >
</div>

 <!--Get the confirm password-->
 <div class="form-group col-md-6">
    <label >Confirm Password</label>
    <input type="password" ngValidateEqual="newPassword" class="form-control form-control-lg" placeholder="confirmPassword" name="confirmPassword" 
    required maxlength="100" minlength="1" >
</div>
    <!--Check if the both password is matched -->
<div *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.invalid">
    <p class="warning-text" *ngIf="confirmPassword.hasError('notEqual') && newPassword.valid"> <!--this one is using to checking if the password with the confirm password is matched-->
     Passwords Don't Match
    </p>
</div>

<!--this is using for the submit button-->
<!--this is for the submit button -->
<div class="form-group col-md-6">
    <button class="btn btn-info btn-lg btn-block" type="submit" >submit</button>
</div>