<!--Showing the title for the form
<div class="jumbotron  py-3">
    <h1 class="display-4 text-center">Registration</h1>
</div> -->
<!--This will use for calling the app-registration
<app-registration></app-registration>-->
<div class="wrapper">
    <div class="wrapped-div">
        <div class="tab-header">
            <h2 routerLink='/user/login' routerLinkActive="active">Sign In</h2>
            <h2 routerLink='/user/registration' routerLinkActive="active">Sign Up</h2>
        </div>
         <!--Beginning of router outlet-->
         <div class="row">
            <div class="col-md-10 offset-md-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>